#example__my-id-selector {
  border: "1";
}

.example__my-class-selector {
  border: "1";
}

.example__my-double-nested-class-selector__one__two {
  border: "1";
}

.my-class-selector-which-does-not-have-file-name-as-prefix {
  border: "1";
}

ul > li {
  border: "1";
}

@keyframes my-animation-name-which-does-not-start-with-a-class-name {
  from {
    border: "1";
  }

  to {
    border: "1";
  }
}
