/* 
    The following are OK. 
    And should not be considered as error. 
*/

.no-error1--light-pink {
  border: "1";
}

.no-error1__list {
  border: "1";
}

.no-error1__list > li {
  border: "1";
}

/* csslint-disable-next-line */
.this-error-should-be-ignored {
  border: "1";
}
